.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.game {
  width: 400px;
  height: 400px;
  background-color: #eee;
  position: relative;
  overflow: hidden;
}
